@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 10px;
  background-color: silver;
}

.movie-pack {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  margin: 10px;
  border-color: black;
  border-width: 3px;
  border-radius: 20px;
  background-color: whitesmoke ;

}

.movie-img{
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul >li{
  list-style-type: none;
  margin: 10px;  
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav >ul > li :hover{
  color: red;
}

.shimmer-card {
  height: 350px;
  width: 350px;
  margin: 10px;
  background-color: darkgray;
}

.movdet {
  display: flex;
  flex-direction: row;
}

 .scroll-para {
  overflow-y: scroll;
  height: 80px;
  padding: 5px;
}